.footer
  padding toRem(spacingSmall)
  text-align center
  @extend .clearfix
  +above(tablet-md)
    position absolute
    width 100%
    bottom 0
    right 0
    left 0
    z-index 100
  p
    font-size 11px
    font-weight 100
    color lightNavyColor
    opacity .7
    margin 0
    transition .12s opacity ease-in-out
    +below(tablet-md)
      line-height 1.5
    &, strong
      font-weight fontWeightMedium
    &:hover,
    &:focus
      opacity 1
