header.header
  nav.navbar
    ul.nav
      li.nav__item
        a.nav__link(href="/")
          | Sites, blogs e lojas virtuais
      li.nav__item
        a.nav__link(href="/converter-html-para-wordpress/")
          | HTML p/ WordPress
      li.nav__item
        a.nav__link(href="/converter-psd-para-wordpress/")
          | PSD p/ WordPress
      li.nav__item
        a.nav__link(href="/converter-sketch-para-wordpress/")
          | Sketch p/ WordPress
      li.nav__item
        a.nav__link.featured(href="/contato-orcamento-sites-com-wordpress/")
          | Entre em contato
