header.header
  nav.navbar
    ul.nav
      li.nav__item
        a.nav__link(href="#")
          | HTML p/ WordPress
      li.nav__item
        a.nav__link(href="#")
          | PSD p/ WordPress
      li.nav__item
        a.nav__link(href="#")
          | Sketch p/ WordPress
      li.nav__item
        a.nav__link.featured(href="#")
          | Entre em contato
