extends layouts/default.pug
block head
  - var pageUrl = homepage + '/converter-psd-para-wordpress/'
  - var pageTitle = 'Sketch para WordPress | Sites, blogs e lojas virtuais com WordPress'
  - var pageDescription = 'Converta seu Sketch para WordPress. Contrate um profissional especialista em WordPress para converter seu design feito no Sketch em um tema para WordPress.'
  include includes/head.pug
block content
  .hero
    .hero__inner
      .container
        .hero__text
          h1.title
            | Converta seu Sketch para WordPress
          p.lead
            | Contrate um profissional  especialista em
            strong= ' WordPress '
            | para converter seu design feito no
            strong= ' Sketch '
            | em um tema para
            strong= ' WordPress.'
          - var subject = 'Orçamento para converter Sketch para WordPress'
          include includes/form.pug
        .hero__notebook
          picture
            source(srcset='/assets/images/notebook@2x.png 2x, /assets/images/notebook.png 1x')
            img(src='/assets/images/notebook.png' alt='Notebook WordPress Curitiba')

