extends layouts/default.pug
block head
  - var pageUrl = homepage + '/converter-html-para-wordpress/'
  - var pageTitle = 'HTML para WordPress | Sites, blogs e lojas virtuais com WordPress'
  - var pageDescription = 'Converta seu HTML para WordPress. Contrate um profissional para converter seu código HTML para WordPress.'
  include includes/head.pug
block content
  .hero
    .hero__inner
      .container
        .hero__text
          h1.title
            | Converta seu HTML para WordPress
          p.lead
            | Contrate um profissional para converter seu código
            strong= ' HTML '
            | para
            strong= ' WordPress.'
          - var subject = 'Orçamento para converter HTML para WordPress'
          include includes/form.pug
        .hero__notebook
          picture
            source(srcset='/assets/images/notebook@2x.png 2x, /assets/images/notebook.png 1x')
            img(src='/assets/images/notebook.png' alt='Notebook WordPress Curitiba')

