html,
body,
main
  +above(tablet-md)
    width 100%
    height 100%

body
  background-color ceruleanColor
  position relative
  &:before
    content ''
    display block
    width 100%
    height 100%
    background-color blackColor
    opacity .05
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    clip-path polygon(0 0, 100% 0, 100% 0%, 0% 40%)
    +above(tablet-md)
      clip-path polygon(0 0, 100% 0, 100% 0%, 0% 100%)

hr
  border none
  border-bottom borderBase
  margin spacingBase 0
