html,
body,
main
  +above(tablet-md)
    width 100%
    height 100%

body
  background-color ceruleanColor
  position relative
  &:before
    content ''
    display block
    width 100%
    height 100%
    background blackColor url(/assets/images/wordpress-logo.png) no-repeat top left
    opacity .15
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    clip-path polygon(0 0, 100% 0, 100% 0%, 0% 40%)
    animation bounceIn 1s both
    animation-delay .2s
    +above(tablet-md)
      clip-path polygon(0 0, 100% 0, 100% 0%, 0% 90%)

hr
  border none
  border-bottom borderBase
  margin spacingBase 0

@keyframes bounceIn
  0%
    transform translate3d(0, -100%, 0)
    animation-timing-function timingFunction
  66%
    transform translate3d(0, 0, 0)
    animation-timing-function timingFunction
  100%
    transform translate3d(0, -40px, 0)
    animation-timing-function timingFunction
