doctype html
//
  site designed and developed by Fernando Moreira
  https://twitter.com/oseunando | https://nandomoreira.me
html(lang='pt-br')
  head
    block head
      - var pageUrl = homepage + '/'
      - var pageTitle = title + ' | Sites, blogs e lojas virtuais com WordPress em Curitiba'
      - var pageDescription = description
      include ../includes/head.pug
    block stylesheets
      if isProduction
        style
          include ../app.css
        // Global site tag (gtag.js) - Google Analytics
        script(src='https://www.googletagmanager.com/gtag/js?id=UA-109583868-1' async)
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-109583868-1');
      else
        link(rel='stylesheet', href='/assets/stylesheets/bundle' + fileHash + '.css')
  body
    include ../includes/header.pug
    main
      block content
    include ../includes/footer.pug
    block scripts
      script(src='/assets/javascripts/vendor' + fileHash + '.js')
      script(src='/assets/javascripts/bundle' + fileHash + '.js')
      if isProduction
        script.
          !function() {var t;if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],t.factory = function(e) {return function() {var n;return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;};}, t.methods.forEach(function(e) {t[e] = t.factory(e);}), t.load = function(t) {var e, n, o, i;e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);});}();
          drift.SNIPPET_VERSION = '0.3.1';
          drift.load('c8is6pgtfwbk');
          if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('sw.js')
              .then(function (registration) { console.log('offline worker registered!');});
          }
